@charset "UTF-8";
@font-face{
	font-family:'NanumBarunGothic';
	src:url('fonts/NANUMBARUNGOTHIC.eot');
	src:url('fonts/NANUMBARUNGOTHIC.eot?#iefix') format('embedded-opentype'),
	url('fonts/NANUMBARUNGOTHIC.woff') format('woff'),
	url('fonts/NANUMBARUNGOTHIC.ttf') format('truetype');}
@font-face{
	font-family:'NotoSans';
	src:url('fonts/NotoSansCJKkr-Bold.otf') format('opentype');}
html {font-size: 16px;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,button {
	margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;font-family:'NotoSans','NanumBarunGothic','Open Sans',Dotum,'����',Helvetica,"Apple SD Gothic Neo", sans-serif;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;
	}	
input[type="text"],input[type="email"],input[type="number"],button,input[type="submit"],input[type="reset"],button,input[type="tel"],button,input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea{-webkit-appearance:none ;appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;margin:0; padding:0;font-family:'NotoSans','NanumBarunGothic','Open Sans',Dotum,Helvetica,"Apple SD Gothic Neo", sans-serif;border:none;box-sizing:border-box;	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	-o-box-sizing:border-box;font-size: 100%;}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; letter-spacing: -0.02rem; font-family: "Nanum Barun Gothic", "Titillium", "Titillium Web", Dotum, "Open Sans", Tahoma, Verdana, AppleGothic,sans-serif;}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; letter-spacing: -0.02rem;}
span {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; letter-spacing: -0.02rem; font-family: 'NotoSans',"Nanum Barun Gothic", "Titillium", "Titillium Web", Dotum, "Open Sans", Tahoma, Verdana, AppleGothic,sans-serif;}
p {	font-weight: inherit;}
span {font-weight: inherit;}
a {	font-weight: inherit;}
h2 p {	font-weight: inherit;}
h2 span {	font-weight: inherit;}
h2 a {	font-weight: inherit;}
html {	-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body {	color: rgb(102, 102, 102); font-weight: 400; -ms-word-break: keep-all; -ms-overflow-y: scroll; -ms-word-wrap: break-word;}
article {	display: block;}
aside {	display: block;}
details {	display: block;}
figcaption {	display: block;}
figure {	display: block;}
footer {	display: block;}
header {	display: block;}
hgroup {	display: block;}
menu {	display: block;}
nav {	display: block;}
section {	display: block;}
hr {height: 0px; display: none; box-sizing: content-box; -moz-box-sizing: content-box;}
em {	font-style: italic;}
strong { font-weight: 900; }
address {	font-style: normal;}
ul {	list-style: none;}
ol {	list-style: none;}
blockquote {	quotes: none;}
q {	quotes: none;}
blockquote::before {	content: none;}
blockquote::after {	content: none;}
q::before {	content: none;}
q::after {	content: none;}
button {border: 0px currentColor; border-image: none; cursor: pointer;}
img {	border: 0px currentColor; border-image: none; max-width: 100%;}
caption {	width: 0px; height: 0px; line-height: 0; overflow: hidden; font-size: 0px;}
legend {	width: 0px; height: 0px; line-height: 0; overflow: hidden; font-size: 0px;}
textarea {	resize: none;}
textarea.vert {	resize: vertical;}
a {	color: rgb(51, 51, 51);}
.dropdown-toggle:focus {outline: dotted thin;}
a:focus {outline: dotted thin;}
button:focus {outline: dotted thin;}
a:active {	outline: 0px;}
a:hover {	outline: 0px;}
button:active {	outline: 0px;}
button:hover {	outline: 0px;}
#wrap {	overflow: hidden; position: relative; min-width:350px;}
.row-offcanvas-right{overflow:visible!important;}
div {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;}
span {	transition:0.3s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;}
li {	transition:0.3s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;}
p {	transition:0.3s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;}
a {	transition:0.3s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;}
form {	transition:0.3s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;}
button {	transition:0.3s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;}
body{
	overflow-y:hidden;background-color: #f2f2f2;}
.main_image{
	text-align:center;min-width:300px;	
	overflow-y:hidden;}
.noticeWrap_bg{
    position: fixed;
    width: 100%;bottom: 160px;
    opacity: 0.8;height: 122px;
	background-color: #f2f2f2;}
.noticeWrap{
    position: fixed;width: 100%;bottom: 160px;
    text-align: center;padding: 8px 0;}
.noticeWrap div{font-size:17px;}
.noticeWrap div#s2{margin-top: 4px;}
.noticeWrap div#s3{font-size:24px;margin-top: 8px;}
.noticeWrap div#s1{color: #5d5d5d;}
.noticeWrap div#s2{color: #5d5d5d;}
.noticeWrap div#s3 #a1{color: #ce2b35;}
.noticeWrap div#s3 #a2{color: #313131;}
#service_btn{
    position:fixed;width:100%;   
    bottom: 100px;text-align: center;}
#service_btn a{
	background-color: red;
	text-decoration:none;
	color:#fff;border-radius: 30px;
	padding: 10px 60px;	
	background:linear-gradient(120deg,#3498db,#8e44ad,#3498db);
	background-size:200%;
	color:#fff;outline:none;
	cursor:pointer;transition:.5s;}
#service_btn a:hover{background-position:right;}
.content_wrap{position:relative;width:100%}
.header{
	position:absolute;top:0px;z-index:100;
	width:100%;text-align:center;
	height:44px;background-color:#1a4a58;
	color:#fff;border-bottom:1px solid #12343e;}
.sub_header{
    position: absolute;top: 0px;
    z-index: 100;width: 100%;}
.sub_header a{position:absolute;left:20px;top:16px;}
.sub_header a img{width:36px;}
.header span{font-size:16px;position:relative;top:12px;}	
.result_header{
    position: absolute;
    top:0px;z-index: 100;
    height: 68px;width: 100%;padding:22px 0;
    text-align: center;
    background-color: #182f40;}
.result_header span{color:white;font-size:18px;}
.result_header span span{
    width: 8px;height: 8px;
    display: inline-block;
    border-radius: 20px;
    background-color: #dc922c;
    position: relative;margin: 2px 6px;}
.result_header a{
	position:absolute;left:20px;top:16px;}
.result_header a img{width:36px;}
.resultWrap{
	position: absolute;
    top: 68px;text-align: center;
    width: 100%;
     z-index: 3;}
.resultWrap div{float:left;width:100%;}
.resultWrap div > span{
    display: inline-block;
    width: 46%;padding: 5px 0;
    border-radius: 20px;opacity: 0.8;
    background-color: #345775;
    color: #d7edff;margin: 0px 4px;
    font-size: 15px;margin-top: 8px;}
.resultWrap div span.value{color:#77ff8d;}
.ar_wrap{	
    text-align: center;
    position: fixed;
    bottom: 80px;
    width: 100%;opacity:0.75;
     z-index: 3;}	
.ar_wrap #ar_text{
    background-color: #451c56;
    border-radius: 30px;
    padding: 8px 30px;}	
.ar_wrap #ar_text a{color:#fff;text-decoration:none;}	

.iframe_wrap{
	position:fixed;
	 width: 100%;
	 height: 100%;
	 z-index: 1;
}
.footer{
	position:fixed;
	bottom:0;z-index:100;width:100%;
	text-align:center;
	height:50px;color:#8e8e8e;
	background-color:#333333;}
.footer span span{color:#1d9691;top:0;}
.footer#main_footer{
	background-color:transparent;
	position:fixed;bottom:0;}
.footer#result_footer{
	background-color:#191919;
	position:fixed;bottom:0;}
.footer span{
	font-size:15px;position:relative;top:13px;}	
.box{
	width:300px;
	position:absolute;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
	text-align:center;}
.box h1{
	color:white;
	font-size:18px;
	text-transform:uppercase;
	font-weight:500;}
.box h1 span{
    width: 8px;height: 8px;
    display: inline-block;
    border-radius: 20px;
    background-color: #dc922c;
    position: relative;margin: 2px 6px;}
.box input[type="text"]{
	border:0;background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #3498db;
	padding:10px 10px;
	width:200px;outline:none;
	color:white;border-radius:24px;
	transition:0.25s;}
.box input[type="text"]:focus{
	width:280px;border-color:#2ecc71;}
.box input[type="submit"]{
	border:0;display:block;background:#8e44ad;
	margin:22px auto;
	text-align:center;
	padding:10px 40px;
	outline:none;color:white;
	border-radius:24px;transition:0.25s;
	cursor:pointer;}
.box input[type="submit"]:hover{background:#2ecc71;}